@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'modules/tooltip.css';

@import 'modules/modal.css';

@import 'modules/dropdownmenu.css';

@import 'modules/mobilemenu.css';

body {
    font-family: Roboto, sans-serif;
    color: #070707;
    padding: 0px;
    margin: 0px;
    margin-bottom: 100px;
}

button {
    font-family: Roboto, sans-serif;
}

img, p {
    padding: 0px;
    margin: 0px;
}

h1, h2, h3 {
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
}

h1, h2, article, section {
    margin-left: 15px;
    margin-right: 15px;
}

h2 {
    margin-top: 60px;
}

ul, li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.presentation {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    gap: 10px;
}

#profilepic {
    grid-column: 1;
    border-radius: 50%;
    max-height: 100px;
}

.presentation div {
    grid-column: 2;
}

.presentation p {
    margin-top: 7px;
    margin-bottom: 7px;
}